footer.footer
	.container
		.footer__inner
			.footer__item
				a.footer__logo(href='#')
					img.footer__logo-thumb(src="./images/logo.jpg" alt="logo")
				p.footer__description Powerful Freelance Marketplace System with ability to change the Users (Freelancers & Clients)
				.footer__social
					a.footer__social-link(href='#')
						img.footer__logo-thumb(src="./images/sprites/svg/instagram.svg" alt="instagram")
				p.footer__description Powerful Freelance Marketplace System with ability to change the
					a.footer__social-link(href="#") bluelance@gmail.com
						img.footer__social-thumb(src="./images/sprites/svg/twitter.svg" alt="twitter")
					a.footer__social-link(href="#") bluelance@gmail.com
						img.footer__social-thumb(src="./images/sprites/svg/facebook.svg" alt="facebook")
			.footer__item
				h6.footer__title For Clients
				a.footer__link(href="#") Find Freelancers
				a.footer__link(href="#") Post Project
				a.footer__link(href="#") Refund Policy
				a.footer__link(href="#") Privacy Policy
			.footer__item
				h6.footer__title For Freelancers
				a.footer__link(href="#") Find Work
				a.footer__link(href="#") Create Account
			.footer__item
				h6.footer__title Call Us
				p.footer__description Kenya
				a.footer__tel(href="telto:+25470000000") +25470000000
				a.footer__mail(href="mailto:bluelance@gmail.com") bluelance@gmail.com
