header.header
	.container
		.header__inner
			a.header__logo
				img.header__logo-img(src="./images/logo.jpg" alt="Logo")
			nav.header__nav
				button.hamburger.hamburger--elastic(type="button")
					span.hamburger-box
						span.hamburger-inner
				ul.header__nav-list
					li.header__nav-item
						a.header__nav-link(href="#!") Home
					li.header__nav-item
						a.header__nav-link(href="#!") Find work
					li.header__nav-item
						a.header__nav-link(href="#!") Find Freelancers
					li.header__nav-item
						a.header__nav-link(href="#!") Log In
					li.header__nav-item
						a.header__nav-link(href="#!") Sign Up
					li.header__nav-item.header__nav-item_post
						a.header__nav-link(href="#!") Post a project
				a.header__nav-link-button(href="#!") Post a project	

