main.home
	section.hero
		.container
			.hero__inner
				.hero__item
					h1.hero__item-title Are you looking for Freelancers?
					p.hero__item-description Hire Great Freelancers, Fast. Spacelance helps you hire elite freelancers at a moment's notice
					form.hero__item-search(method="post")
						a.hero__item-hire(href="#") Hire a freelancer
						label.hero__search-label(for="search")
						input.hero__search-input(type="text" placeholder="search freelance work" name="search" id="search")
						button.hero__search-button(type="submit")
							img.hero__search-button-img(src="./images/sprites/svg/search-button.svg" alt="search button")
				.hero__opportunities
					.hero__opportunities-list
						.hero__opportunities-item
							img.hero__opportunities-img(src="./images/sprites/svg/lock.svg" alt="opportunities")
							h4.hero__opportunities-title Create Account
							p.hero__opportunities-description First you have to create a account  here
						.hero__opportunities-item
							img.hero__opportunities-img(src="./images/sprites/svg/search.svg" alt="opportunities")
							h4.hero__opportunities-title Search work
							p.hero__opportunities-description Search the best freelance work here
						.hero__opportunities-item
							img.hero__opportunities-img(src="./images/sprites/svg/save.svg" alt="opportunities")
							h4.hero__opportunities-title Save and apply
							p.hero__opportunities-description Apply or save and start your work
	section.find
		.container
			.find__list
				.find__item
					img.find__item-img(src="./images/find.png" alt="Find The Best Freelancers Here")
					.find__item-info.find__item-info_small
						span.find__item-info-span 500+
						p.find__item-info-description freelancers
					.find__item-info
						span.find__item-info-span 300+
						p.find__item-info-description freelance work Posted
				.find__item
					h4.find__item-title
						| Find The Best 
						span.find__item-title-span Freelancers
						|   Here
					p.find__item-description
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut erat bibendum ornare urna, cursus eget convallis. Feugiat imperdiet posuere justo, ultrices interdum sed orci nunc, mattis. Ipsum viverra viverra neque adipiscing arcu, quam dictum. Dui mi viverra dui, sit accumsan, tincidunt massa. Dui cras magnis.
	section.recently-works
		.container
			p.recently-works__subtitle The latest freelance work!
			h2.recently-works__title
				| Recently Posted 
				span.recently-works__span  Works
			//- .recently-works__slider
			.swiper
				.swiper-wrapper
					.swiper-slide.recently-works__slider-item
						img.recently-works__slider-img(src="./images/slider/slide1.png" alt="slider")
						h6.recently-works__slider-title Logo Design
						p.recently-works__slider-description Need a professional logo with writing underneath for our jewellery company
						.recently-works__slider-prices
							p.recently-works__slider-prices-info Highest bid $500
							a.recently-works__slider-prices-link(href="#") Apply now
					.swiper-slide.recently-works__slider-item
						img.recently-works__slider-img(src="./images/slider/slide2.png" alt="slider")
						h6.recently-works__slider-title Graphic Design
						p.recently-works__slider-description We need a graphic designer with UI/UX skills for our Furniture company
						.recently-works__slider-prices
							p.recently-works__slider-prices-info Highest bid $500
							a.recently-works__slider-prices-link(href="#") Apply now
					.swiper-slide.recently-works__slider-item
						img.recently-works__slider-img(src="./images/slider/slide3.png" alt="slider")
						h6.recently-works__slider-title Need a SEO
						p.recently-works__slider-description Need a SEO for our company who will let our company to a higher level
						.recently-works__slider-prices
							p.recently-works__slider-prices-info Highest bid $500
							a.recently-works__slider-prices-link(href="#") Apply now
					.swiper-slide.recently-works__slider-item
						img.recently-works__slider-img(src="./images/slider/slide1.png" alt="slider")
						h6.recently-works__slider-title Logo Design
						p.recently-works__slider-description Need a professional logo with writing underneath for our jewellery company
						.recently-works__slider-prices
							p.recently-works__slider-prices-info Highest bid $500
							a.recently-works__slider-prices-link(href="#") Apply now
					.swiper-slide.recently-works__slider-item
						img.recently-works__slider-img(src="./images/slider/slide2.png" alt="slider")
						h6.recently-works__slider-title Graphic Design
						p.recently-works__slider-description We need a graphic designer with UI/UX skills for our Furniture company
						.recently-works__slider-prices
							p.recently-works__slider-prices-info Highest bid $500
							a.recently-works__slider-prices-link(href="#") Apply now
					.swiper-slide.recently-works__slider-item
						img.recently-works__slider-img(src="./images/slider/slide3.png" alt="slider")
						h6.recently-works__slider-title Need a SEO
						p.recently-works__slider-description Need a SEO for our company who will let our company to a higher level
						.recently-works__slider-prices
							p.recently-works__slider-prices-info Highest bid $500
							a.recently-works__slider-prices-link(href="#") Apply now
					.swiper-slide.recently-works__slider-item
						img.recently-works__slider-img(src="./images/slider/slide1.png" alt="slider")
						h6.recently-works__slider-title Logo Design
						p.recently-works__slider-description Need a professional logo with writing underneath for our jewellery company
						.recently-works__slider-prices
							p.recently-works__slider-prices-info Highest bid $500
							a.recently-works__slider-prices-link(href="#") Apply now
					.swiper-slide.recently-works__slider-item
						img.recently-works__slider-img(src="./images/slider/slide2.png" alt="slider")
						h6.recently-works__slider-title Graphic Design
						p.recently-works__slider-description We need a graphic designer with UI/UX skills for our Furniture company
						.recently-works__slider-prices
							p.recently-works__slider-prices-info Highest bid $500
							a.recently-works__slider-prices-link(href="#") Apply now
					.swiper-slide.recently-works__slider-item
						img.recently-works__slider-img(src="./images/slider/slide3.png" alt="slider")
						h6.recently-works__slider-title Need a SEO
						p.recently-works__slider-description Need a SEO for our company who will let our company to a higher level
						.recently-works__slider-prices
							p.recently-works__slider-prices-info Highest bid $500
							a.recently-works__slider-prices-link(href="#") Apply now
				.recently-works__navigation
					button.recently-works__button-next
						//- svg(class="icon") use(xlink:href="images/sprites/svg/arrow.svg#arrow")
					button.recently-works__button-prev


